
.theme-dark .dark\:divide-gray-700 > :not(template) ~ :not(template) {
    --divide-opacity: 1;
    border-color: #24262d;
    border-color: rgba(36, 38, 45, var(--divide-opacity))
}

.theme-dark .dark\:bg-gray-700 {
    --bg-opacity: 1;
    background-color: #24262d;
    background-color: rgba(36, 38, 45, var(--bg-opacity))
}

.theme-dark .dark\:bg-gray-800 {
    --bg-opacity: 1;
    background-color: #1a1c23;
    background-color: rgba(26, 28, 35, var(--bg-opacity))
}

.theme-dark .dark\:bg-gray-900 {
    --bg-opacity: 1;
    background-color: #121317;
    background-color: rgba(18, 19, 23, var(--bg-opacity))
}

.theme-dark .dark\:bg-red-600 {
    --bg-opacity: 1;
    background-color: #e02424;
    background-color: rgba(224, 36, 36, var(--bg-opacity))
}

.theme-dark .dark\:bg-red-700 {
    --bg-opacity: 1;
    background-color: #c81e1e;
    background-color: rgba(200, 30, 30, var(--bg-opacity))
}

.theme-dark .dark\:bg-orange-500 {
    --bg-opacity: 1;
    background-color: #ff5a1f;
    background-color: rgba(255, 90, 31, var(--bg-opacity))
}

.theme-dark .dark\:bg-orange-600 {
    --bg-opacity: 1;
    background-color: #d03801;
    background-color: rgba(208, 56, 1, var(--bg-opacity))
}

.theme-dark .dark\:bg-green-500 {
    --bg-opacity: 1;
    background-color: #0e9f6e;
    background-color: rgba(14, 159, 110, var(--bg-opacity))
}

.theme-dark .dark\:bg-green-700 {
    --bg-opacity: 1;
    background-color: #046c4e;
    background-color: rgba(4, 108, 78, var(--bg-opacity))
}

.theme-dark .dark\:bg-teal-500 {
    --bg-opacity: 1;
    background-color: #0694a2;
    background-color: rgba(6, 148, 162, var(--bg-opacity))
}

.theme-dark .dark\:bg-blue-500 {
    --bg-opacity: 1;
    background-color: #3f83f8;
    background-color: rgba(63, 131, 248, var(--bg-opacity))
}

.theme-dark .dark\:hover\:bg-gray-800:hover {
    --bg-opacity: 1;
    background-color: #1a1c23;
    background-color: rgba(26, 28, 35, var(--bg-opacity))
}

.theme-dark .dark\:border-gray-600 {
    --border-opacity: 1;
    border-color: #4c4f52;
    border-color: rgba(76, 79, 82, var(--border-opacity))
}

.theme-dark .dark\:border-gray-700 {
    --border-opacity: 1;
    border-color: #24262d;
    border-color: rgba(36, 38, 45, var(--border-opacity))
}

.theme-dark .dark\:border-gray-800 {
    --border-opacity: 1;
    border-color: #1a1c23;
    border-color: rgba(26, 28, 35, var(--border-opacity))
}
.theme-dark .dark\:block {
    display: block
}

.theme-dark .dark\:hidden {
    display: none
}

.theme-dark .dark\:placeholder-gray-500::-moz-placeholder {
    --placeholder-opacity: 1;
    color: #707275;
    color: rgba(112, 114, 117, var(--placeholder-opacity))
}

.theme-dark .dark\:placeholder-gray-500:-ms-input-placeholder {
    --placeholder-opacity: 1;
    color: #707275;
    color: rgba(112, 114, 117, var(--placeholder-opacity))
}

.theme-dark .dark\:placeholder-gray-500::-ms-input-placeholder {
    --placeholder-opacity: 1;
    color: #707275;
    color: rgba(112, 114, 117, var(--placeholder-opacity))
}

.theme-dark .dark\:placeholder-gray-500::placeholder {
    --placeholder-opacity: 1;
    color: #707275;
    color: rgba(112, 114, 117, var(--placeholder-opacity))
}

.theme-dark .dark\:focus\:placeholder-gray-600:focus::-moz-placeholder {
    --placeholder-opacity: 1;
    color: #4c4f52;
    color: rgba(76, 79, 82, var(--placeholder-opacity))
}

.theme-dark .dark\:focus\:placeholder-gray-600:focus:-ms-input-placeholder {
    --placeholder-opacity: 1;
    color: #4c4f52;
    color: rgba(76, 79, 82, var(--placeholder-opacity))
}

.theme-dark .dark\:focus\:placeholder-gray-600:focus::-ms-input-placeholder {
    --placeholder-opacity: 1;
    color: #4c4f52;
    color: rgba(76, 79, 82, var(--placeholder-opacity))
}

.theme-dark .dark\:focus\:placeholder-gray-600:focus::placeholder {
    --placeholder-opacity: 1;
    color: #4c4f52;
    color: rgba(76, 79, 82, var(--placeholder-opacity))
}

.theme-dark .dark\:text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.theme-dark .dark\:text-gray-100 {
    --text-opacity: 1;
    color: #f4f5f7;
    color: rgba(244, 245, 247, var(--text-opacity))
}

.theme-dark .dark\:text-gray-200 {
    --text-opacity: 1;
    color: #e5e7eb;
    color: rgba(229, 231, 235, var(--text-opacity))
}

.theme-dark .dark\:text-gray-300 {
    --text-opacity: 1;
    color: #d5d6d7;
    color: rgba(213, 214, 215, var(--text-opacity))
}

.theme-dark .dark\:text-gray-400 {
    --text-opacity: 1;
    color: #9e9e9e;
    color: rgba(158, 158, 158, var(--text-opacity))
}

.theme-dark .dark\:text-red-100 {
    --text-opacity: 1;
    color: #fde8e8;
    color: rgba(253, 232, 232, var(--text-opacity))
}

.theme-dark .dark\:text-red-400 {
    --text-opacity: 1;
    color: #f98080;
    color: rgba(249, 128, 128, var(--text-opacity))
}

.theme-dark .dark\:text-orange-100 {
    --text-opacity: 1;
    color: #feecdc;
    color: rgba(254, 236, 220, var(--text-opacity))
}

.theme-dark .dark\:text-green-100 {
    --text-opacity: 1;
    color: #def7ec;
    color: rgba(222, 247, 236, var(--text-opacity))
}

.theme-dark .dark\:text-green-400 {
    --text-opacity: 1;
    color: #31c48d;
    color: rgba(49, 196, 141, var(--text-opacity))
}

.theme-dark .dark\:text-teal-100 {
    --text-opacity: 1;
    color: #d5f5f6;
    color: rgba(213, 245, 246, var(--text-opacity))
}

.theme-dark .dark\:text-blue-100 {
    --text-opacity: 1;
    color: #e1effe;
    color: rgba(225, 239, 254, var(--text-opacity))
}

.theme-dark .dark\:text-purple-300 {
    --text-opacity: 1;
    color: #cabffd;
    color: rgba(202, 191, 253, var(--text-opacity))
}

.theme-dark .dark\:text-purple-400 {
    --text-opacity: 1;
    color: #ac94fa;
    color: rgba(172, 148, 250, var(--text-opacity))
}

.theme-dark .dark\:focus-within\:text-purple-400:focus-within {
    --text-opacity: 1;
    color: #ac94fa;
    color: rgba(172, 148, 250, var(--text-opacity))
}

.theme-dark .dark\:hover\:text-gray-200:hover {
    --text-opacity: 1;
    color: #e5e7eb;
    color: rgba(229, 231, 235, var(--text-opacity))
}

.theme-dark .dark\:focus\:shadow-outline-gray:focus {
    box-shadow: 0 0 0 3px rgba(213, 214, 215, .45)
}
